extends layout 
 
block content 
  h1(class = 'container-fluid p-5 bg-success text-warning text-center')= title 
 
  form(id='ApplicationForm',class='justify-content-center p-2 bg-light text-center text-dark',action="/resource/Application", method="POST") 
    div.form-group
        label.ApplicationAttr(for='App_Name' style="margin-right: 5px;") Application Name 
        input#App_Name(type='text', name='App_Name' style="width:500px;")
    br
    div.form-group 
        label.ApplicationAttr(for='App_Company' style="margin-right: 5px;") Application Company 
        input#App_Company(type='text', name='App_Company' style="width:500px;") 
    br
    div.form-group 
        label.ApplicationAttr(for='App_Size' style="margin-right: 5px;") Application Size 
        input#App_Size(type='number', name='App_Size' style="width:500px;") 
    br
    div.form-group 
        label.ApplicationAttr(for='App_Rating' style="margin-right: 5px;") Application Rating 
        input#App_Rating(type='number', name='App_Rating' style="width:500px;") 
    br
    div.form-group 
        label.ApplicationAttr(for='App_Category' style="margin-right: 5px;") Application Category 
        input#App_Category(type='text', name='App_Category' style="width:500px;")  
    br
    input(class="btn btn-success" type="submit") 
 
  script. 
    document.forms['ApplicationForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 