body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.ApplicationAttr { 
  text-align:center;
  background-color:#0088ff; 
  width: 120px; 
} 
.mr-1 {
  background-color:darkslategray;
  width: 120px;
}